<!DOCTYPE html>
<html>
<head>
  <title>Coffee Snobs SaaS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to root_path, class: 'navbar-brand' do %>
      <i class='fa fa-coffee'></i> <!-- just copy navbar-brand class to style and align it correctly -->
       <!--Ruby code with erb tag, that's why we put extension html.erb-->
       Coffee Snobs
      <% end %>
    </div>
    
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li> <!-- hardcoding is not a good practice, so /about link is not a good idea. 
        It's better to go to routes under config file and code path there. Take advantage to prefixes. check with rake routes in terminal -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
  
<div class="container"> <!-- added container class with bootstrap to fix alignment -->
  <%= yield %> <!-- yield replaces whatever is on the pages/ and root_path link to it -->
</div>

</body>
</html>
